//out:style.css, compress:true

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    float: left;
    width: 100%;
    margin-top: 1em;
    
    @media(min-width:610px) {
        width: 40%;
        margin-left: 5%;
    }
}

#title {
    text-align: center;
    @media(min-width:610px) {
        text-align: right;
    }

    #ticker {
        font-weight: 700;
        font-size: 4em;
    }
    
    #date {
        font-weight: 300;
        font-size: 2em;
    }
}

#details {
    text-align: left;
    padding-left: 5%;
    margin-bottom: 1em;
    
    @media(min-width:610px) {
        margin-bottom: 0;
    }
    
    .item {
        font-weight: 400;
        font-size: 1em;
    }
    
    .value {
        font-weight: 300;
        font-size: 1em;
    }
    
    .subitem {
        font-weight: 400;
        font-size: 0.75em;
    }
    
    .subvalue {
        font-weight: 300;
        font-size: 0.75em;
    }
}

#plot {
    img {
        width: 100%;
    }
}
